<h1>Welcome to Seaspray Laundry!</h1>

<h2>First you'll enter the customer's phone number in order to locate that customer's information in the database. Then you will be directed to a new screen that confirms this is indeed the correct customer and allows you to input the number of items the customer is dropping off. (There will also be an option to go back in case this is not the right customer.) Then you can choose whether the customer wants a phone call, an email, or a text message when their laundry is ready to be picked up.</h2>

<h3>Outstanding question: how to indicate laundry is done? Will a clerk do this manually? Will a list be generated each day at a particular time and clerks can simply click a box if the laundry is finished?</h3>

<h3>Email generated: "The [num] items you dropped off on x day are ready to be picked up from Seaspray Laundry!"</h3>
<h3>Text generated: "Your [num] items are ready to be picked up from Seaspray Laundry!"</h3>

<h3>Please enter the customer's phone number:</h3>